  
  <div class="wrapper">
    
    <section class="inner_page_breadcrumb">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 text-center">
            <div class="breadcrumb_content">
              <h4 class="breadcrumb_title">Edumy</h4>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="http://demo.createdbycocoon.com/moodle/edumy/1">Home</a>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <div id="ccn-page-wrapper">
      <div>
        <a class="sr-only sr-only-focusable" href="#maincontent">Skip to main content</a>
      </div>
      <script type="text/javascript"
        src="http://demo.createdbycocoon.com/moodle/edumy/1/theme/yui_combo.php?rollup/3.17.2/yui-moodlesimple.js"></script>
      <script type="text/javascript"
        src="http://demo.createdbycocoon.com/moodle/edumy/1/lib/javascript.php/1583195737/lib/javascript-static.js"></script>
      <script type="text/javascript">
        //<![CDATA[
        document.body.className += ' jsenabled';
//]]>
      </script>


      <div>
        <div class="container ccn_breadcrumb_widgets clearfix">
        </div>
        <aside id="block-region-fullwidth-top" class="block-region" data-blockregion="fullwidth-top"
          data-droptarget="1"></aside>
        <div id="ccn-main-region">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-lg-8 col-xl-9">
                <div class="has-blocks" aria-label="Content">
                  <aside id="block-region-above-content" class="block-region" data-blockregion="above-content"
                    data-droptarget="1">
                    <div id="inst197" class=" block_cocoon_course_intro block " role="complementary"
                      data-block="cocoon_course_intro" aria-label="[Cocoon] Course Intro">





                      <div class="">


                        <div class="cs_row_one ccn-pullto-breadcrumb">
                          <div class="cs_ins_container">
                            <div class="ccn-identify-course-intro">
                              <div class="cs_instructor">
                                <ul class="cs_instrct_list float-left mb0">
                                  <li class="list-inline-item"><img class="thumb"
                                      src="http://demo.createdbycocoon.com/moodle/edumy/1/pluginfile.php/315/block_cocoon_course_intro/content/4.png"
                                      alt="4.png" /></li>
                                  <li class="list-inline-item"><a class="color-white" href="#">Ali Tufan</a></li>
                                  <li class="list-inline-item"><a class="color-white" href="#">Last updated 29 December
                                      2019</a></li>
                                </ul>
                                <ul class="cs_watch_list float-right mb0">
                                  <li class="list-inline-item"><a class="color-white" target="_blank"
                                      href="https://www.facebook.com/sharer/sharer.php?u=http://demo.createdbycocoon.com/moodle/edumy/1/course/view.php?id=8"><span
                                        class="flaticon-share"> Share</span></a></li>
                                </ul>
                              </div>
                              <h3 class="cs_title color-white">Design Instruments for Communication</h3>
                              <ul class="cs_review_seller">
                                <li class="list-inline-item"><a href="#"><span>Best Seller</span></a></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              </ul>
                              <ul class="cs_review_enroll">
                                <li class="list-inline-item"><a class="color-white" href="#"><span
                                      class="flaticon-profile"></span> 1 students enrolled</a></li>
                                <li class="list-inline-item"><a class="color-white" href="#"><span
                                      class="flaticon-comment"></span> 0 topics</a></li>
                              </ul>
                            </div>
                            <div class="courses_big_thumb">
                              <div class="thumb">
                                <iframe class="iframe_video" src="//www.youtube.com/embed/57LQI8DKwec" frameborder="0"
                                  allowfullscreen></iframe>
                              </div>
                            </div>
                          </div>
                        </div>


                      </div>


                    </div>
                    <div id="inst108" class=" block_cocoon_course_overview block " role="complementary"
                      data-block="cocoon_course_overview">

                      <a href="#sb-7" class="sr-only sr-only-focusable">Skip Course Overview</a>





                      <div class="">

                        <div class="cs_row_two">
                          <div class="cs_overview">
                            <h4 class="title">Course Overview</h4>
                            <h4 class="subtitle">Course Description</h4>
                            <p class="mb30">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                              unknown printer took a galley of type and scrambled it to make a type specimen book. It
                              has
                              survived not only five centuries, but also the leap into electronic typesetting, remaining
                              essentially unchanged. </p>
                            <p class="mb20">It was popularised in the 1960s with the release of Letraset sheets
                              containing Lorem Ipsum passages, and more recently with desktop publishing software like
                              Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <h4 class="subtitle">What you'll learn</h4>
                            <ul class="cs_course_syslebus">
                              <li><i class="fa fa-check"></i>
                                <p>Become a UX designer.</p>
                              </li>
                              <li><i class="fa fa-check"></i>
                                <p>You will be able to add UX designer to your CV</p>
                              </li>
                              <li><i class="fa fa-check"></i>
                                <p>Become a UI designer.</p>
                              </li>
                              <li><i class="fa fa-check"></i>
                                <p>Build &amp; test a full website design.</p>
                              </li>
                              <li><i class="fa fa-check"></i>
                                <p>Build &amp; test a full mobile app.</p>
                              </li>
                            </ul>
                            <ul class="cs_course_syslebus2">
                              <li><i class="fa fa-check"></i>
                                <p>Learn to design websites &amp; mobile phone apps.</p>
                              </li>
                              <li><i class="fa fa-check"></i>
                                <p>You'll learn how to choose colors.</p>
                              </li>
                              <li><i class="fa fa-check"></i>
                                <p>Prototype your designs with interactions.</p>
                              </li>
                              <li><i class="fa fa-check"></i>
                                <p>Export production ready assets.</p>
                              </li>
                              <li><i class="fa fa-check"></i>
                                <p>All the techniques used by UX professionals</p>
                              </li>
                            </ul>
                            <h4 class="subtitle">Requirements</h4>
                            <ul class="list_requiremetn">
                              <li><i class="fa fa-circle"></i>
                                <p>You will need a copy of Adobe XD 2019 or above. A free trial can be downloaded from
                                  Adobe.</p>
                              </li>
                              <li><i class="fa fa-circle"></i>
                                <p>No previous design experience is needed.</p>
                              </li>
                              <li><i class="fa fa-circle"></i>
                                <p>No previous Adobe XD skills are needed.</p>
                              </li>
                            </ul>
                          </div>
                        </div>


                      </div>

                      <span id="sb-7"></span>

                    </div>
                  </aside>
                  <div id="ccn-main">
                    <div class="cs_row_three">
                      <div class="course_content">
                        <div class="cc_headers">
                          <h4 class="title">Course Content</h4>
                          <ul class="course_schdule float-right">
                            <li class="list-inline-item"><a href="#">Start Date: 22/12/19 </a></li>
                            <li class="list-inline-item"><a href="#">Category: Design</a></li>
                          </ul>
                        </div>
                        <br>
                        <span class="notifications" id="user-notifications"></span>
                        <span id="maincontent"></span>
                        <form action="." method="get">
                          <div><input type="hidden" id="completion_dynamic_change" name="completion_dynamic_change"
                              value="0" /></div>
                        </form>
                        <div class="course-content">
                          <h2 class="accesshide">Topic outline</h2>
                          <div class="ccn_course_content topics">
                            <div id="section-0" class="section main clearfix details" role="region"
                              aria-label="General">
                              <div id="accordion" class="panel-group cc_tab">
                                <div class="panel">
                                  <div class="panel-heading">
                                    <h4 class="panel-title">
                                      <a href="#panel-0" class="accordion-toggle link" data-toggle="collapse"
                                        data-parent="#accordion">General</a>
                                    </h4>
                                  </div>
                                  <div id="panel-0" class="panel-collapse collapse">
                                    <div class="panel-body"><span class="hidden sectionname">General</span>
                                      <div class="left side"></div>
                                      <div class="right side"><img class="icon spacer" width="1" height="1" alt=""
                                          aria-hidden="true"
                                          src="http://demo.createdbycocoon.com/moodle/edumy/1/theme/image.php/edumy/core/1583195737/spacer" />
                                      </div>
                                      <div class="content">
                                        <h3 class="sectionname accesshide"><span><a
                                              href="http://demo.createdbycocoon.com/moodle/edumy/1/course/view.php?id=8#section-0">General</a></span>
                                        </h3>
                                        <div class="section_availability"></div>
                                        <div class="summary"></div>
                                        <ul class="section img-text cs_list mb0">
                                          <li class="activity assign modtype_assign " id="module-84">
                                            <div>
                                              <div class="mod-indent-outer">
                                                <div class="mod-indent"></div>
                                                <div>
                                                  <div class="activityinstance"><a class="" onclick=""
                                                      href="http://demo.createdbycocoon.com/moodle/edumy/1/mod/assign/view.php?id=84"><img
                                                        src="http://demo.createdbycocoon.com/moodle/edumy/1/theme/image.php/edumy/assign/1583195737/icon"
                                                        class="iconlarge activityicon" alt="" role="presentation"
                                                        aria-hidden="true" /><span class="instancename">Assignment
                                                        1</span></a></div>
                                                </div>
                                              </div>
                                            </div>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div id="section-1" class="section main clearfix details hidden" role="region"
                              aria-label="Topic 1">
                              <div id="accordion" class="panel-group cc_tab">
                                <div class="panel">
                                  <div class="panel-heading">
                                    <h4 class="panel-title">
                                      <a href="#panel-1" class="accordion-toggle link" data-toggle="collapse"
                                        data-parent="#accordion">Topic 1</a>
                                    </h4>
                                  </div>
                                  <div id="panel-1" class="panel-collapse collapse">
                                    <div class="panel-body"><span class="hidden sectionname">Topic 1</span>
                                      <div class="left side"></div>
                                      <div class="right side"><img class="icon spacer" width="1" height="1" alt=""
                                          aria-hidden="true"
                                          src="http://demo.createdbycocoon.com/moodle/edumy/1/theme/image.php/edumy/core/1583195737/spacer" />
                                      </div>
                                      <div class="content">
                                        <h3 class="sectionname"><span><a
                                              href="http://demo.createdbycocoon.com/moodle/edumy/1/course/view.php?id=8#section-1">Topic
                                              1</a></span></h3>
                                        <div class="section_availability">
                                          <div class="availabilityinfo ishidden">
                                            <span class="badge badge-info">Not available</span>
                                          </div>
                                        </div>
                                        <div class="summary"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div id="section-2" class="section main clearfix details hidden" role="region"
                              aria-label="Topic 2">
                              <div id="accordion" class="panel-group cc_tab">
                                <div class="panel">
                                  <div class="panel-heading">
                                    <h4 class="panel-title">
                                      <a href="#panel-2" class="accordion-toggle link" data-toggle="collapse"
                                        data-parent="#accordion">Topic 2</a>
                                    </h4>
                                  </div>
                                  <div id="panel-2" class="panel-collapse collapse">
                                    <div class="panel-body"><span class="hidden sectionname">Topic 2</span>
                                      <div class="left side"></div>
                                      <div class="right side"><img class="icon spacer" width="1" height="1" alt=""
                                          aria-hidden="true"
                                          src="http://demo.createdbycocoon.com/moodle/edumy/1/theme/image.php/edumy/core/1583195737/spacer" />
                                      </div>
                                      <div class="content">
                                        <h3 class="sectionname"><span><a
                                              href="http://demo.createdbycocoon.com/moodle/edumy/1/course/view.php?id=8#section-2">Topic
                                              2</a></span></h3>
                                        <div class="section_availability">
                                          <div class="availabilityinfo ishidden">
                                            <span class="badge badge-info">Not available</span>
                                          </div>
                                        </div>
                                        <div class="summary"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div id="section-3" class="section main clearfix details hidden" role="region"
                              aria-label="Topic 3">
                              <div id="accordion" class="panel-group cc_tab">
                                <div class="panel">
                                  <div class="panel-heading">
                                    <h4 class="panel-title">
                                      <a href="#panel-3" class="accordion-toggle link" data-toggle="collapse"
                                        data-parent="#accordion">Topic 3</a>
                                    </h4>
                                  </div>
                                  <div id="panel-3" class="panel-collapse collapse">
                                    <div class="panel-body"><span class="hidden sectionname">Topic 3</span>
                                      <div class="left side"></div>
                                      <div class="right side"><img class="icon spacer" width="1" height="1" alt=""
                                          aria-hidden="true"
                                          src="http://demo.createdbycocoon.com/moodle/edumy/1/theme/image.php/edumy/core/1583195737/spacer" />
                                      </div>
                                      <div class="content">
                                        <h3 class="sectionname"><span><a
                                              href="http://demo.createdbycocoon.com/moodle/edumy/1/course/view.php?id=8#section-3">Topic
                                              3</a></span></h3>
                                        <div class="section_availability">
                                          <div class="availabilityinfo ishidden">
                                            <span class="badge badge-info">Not available</span>
                                          </div>
                                        </div>
                                        <div class="summary"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div id="section-4" class="section main clearfix details hidden" role="region"
                              aria-label="Topic 4">
                              <div id="accordion" class="panel-group cc_tab">
                                <div class="panel">
                                  <div class="panel-heading">
                                    <h4 class="panel-title">
                                      <a href="#panel-4" class="accordion-toggle link" data-toggle="collapse"
                                        data-parent="#accordion">Topic 4</a>
                                    </h4>
                                  </div>
                                  <div id="panel-4" class="panel-collapse collapse">
                                    <div class="panel-body"><span class="hidden sectionname">Topic 4</span>
                                      <div class="left side"></div>
                                      <div class="right side"><img class="icon spacer" width="1" height="1" alt=""
                                          aria-hidden="true"
                                          src="http://demo.createdbycocoon.com/moodle/edumy/1/theme/image.php/edumy/core/1583195737/spacer" />
                                      </div>
                                      <div class="content">
                                        <h3 class="sectionname"><span><a
                                              href="http://demo.createdbycocoon.com/moodle/edumy/1/course/view.php?id=8#section-4">Topic
                                              4</a></span></h3>
                                        <div class="section_availability">
                                          <div class="availabilityinfo ishidden">
                                            <span class="badge badge-info">Not available</span>
                                          </div>
                                        </div>
                                        <div class="summary"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                  <aside id="block-region-below-content" class="block-region" data-blockregion="below-content"
                    data-droptarget="1">
                    <div id="inst109" class=" block_cocoon_course_instructor block " role="complementary"
                      data-block="cocoon_course_instructor">

                      <a href="#sb-8" class="sr-only sr-only-focusable">Skip About the instructor</a>





                      <div class="">



                        <div class="cs_row_four">
                          <div class="about_ins_container">
                            <h4 class="aii_title">About the instructor</h4>
                            <div class="about_ins_info">
                              <div class="thumb"><img
                                  src="http://demo.createdbycocoon.com/moodle/edumy/1/pluginfile.php/164/block_cocoon_course_instructor/content/6.png"
                                  alt="6.png" /></div>
                            </div>
                            <div class="details">
                              <ul class="review_list">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item">4.5 Instructor Rating</li>
                              </ul>
                              <ul class="about_info_list">
                                <li class="list-inline-item"><span class="flaticon-comment"></span> 12,197 Reviews </li>
                                <li class="list-inline-item"><span class="flaticon-profile"></span> 141,745 Students
                                </li>
                                <li class="list-inline-item"><span class="flaticon-play-button-1"></span> 5 Courses
                                </li>
                              </ul>
                              <h4>Ali Tufan</h4>
                              <p class="subtitle">UX/UI Designer</p>
                              <p class="mb25">UI/UX Designer, with 7+ Years Experience. Guarantee of High Quality Work.
                              </p>
                              <p class="mb25">Skills: Web Design, UI Design, UX/UI Design, Mobile Design, User Interface
                                Design, Sketch, Photoshop, GUI, Html, Css, Grid Systems, Typography, Minimal, Template,
                                English, Bootstrap, Responsive Web Design, Pixel Perfect, Graphic Design, Corporate,
                                Creative,
                                Flat, Luxury and much more.</p>
                              <ul class="about_ins_list mb0">
                                <li>
                                  <p>Available for:</p>
                                </li>
                                <li><a href="#">1. Full Time Office Work</a></li>
                                <li><a href="#">2. Remote Work</a></li>
                                <li><a href="#">3. Freelance</a></li>
                                <li><a href="#">4. Contract</a></li>
                                <li><a href="#">5. Worldwide</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>


                      </div>

                      <span id="sb-8"></span>

                    </div>
                    <div id="inst110" class=" block_comments block " role="complementary" data-block="comments">

                      <a href="#sb-9" class="sr-only sr-only-focusable">Skip Comments</a>





                      <div class="">
                        <div style="display:none" id="cmt-tmpl">
                          <div class="comment-message">
                            <div class="comment-message-meta mr-3"><span class="picture">___picture___</span><span
                                class="user">___name___</span> - <span class="time">___time___</span></div>
                            <div class="text">___content___</div>
                          </div>
                        </div>
                        <div class="mdl-left"><a class="showcommentsnonjs"
                            href="http://demo.createdbycocoon.com/moodle/edumy/1/course/view.php?id=8&amp;nonjscomment=1&amp;comment_itemid=0&amp;comment_context=153&amp;comment_component=block_comments&amp;comment_area=page_comments">Show
                            comments</a>
                          <div id="comment-ctrl-60147250f1079" class="comment-ctrl">
                            <ul id="comment-list-60147250f1079" class="comment-list comments-loaded">
                              <li class="first"></li>
                              <li id="comment-22-60147250f1079">
                                <div class="comment-message">
                                  <div class="comment-message-meta mr-3"><span class="picture"><a
                                        href="http://demo.createdbycocoon.com/moodle/edumy/1/user/view.php?id=5&amp;course=8"><img
                                          src="http://demo.createdbycocoon.com/moodle/edumy/1/pluginfile.php/222/user/icon/edumy/f2?rev=3672"
                                          class="userpicture" width="18" height="18" alt="Picture of Krisztina Szer"
                                          title="Picture of Krisztina Szer" /></a></span><span class="user"><a
                                        href="http://demo.createdbycocoon.com/moodle/edumy/1/user/view.php?id=5&amp;course=8">Krisztina
                                        Szer</a></span> - <span class="time">Fri, 3 Jan 2020, 12:54 AM</span></div>
                                  <div class="text">
                                    <div class="no-overflow">
                                      <div class="text_to_html">This is the second Photoshop course I have completed
                                        with Cristian. Worth every penny and recommend it highly. To get the most out of
                                        this course, its best to to take the Beginner to Advanced course first.<br>
                                        <br>
                                        The sound and video quality is of a good standard. Thank you Cristian.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                              <li id="comment-30-60147250f1079">
                                <div class="comment-message">
                                  <div class="comment-message-meta mr-3"><span class="picture"><a
                                        href="http://demo.createdbycocoon.com/moodle/edumy/1/user/view.php?id=5&amp;course=8"><img
                                          src="http://demo.createdbycocoon.com/moodle/edumy/1/pluginfile.php/222/user/icon/edumy/f2?rev=3672"
                                          class="userpicture" width="18" height="18" alt="Picture of Krisztina Szer"
                                          title="Picture of Krisztina Szer" /></a></span><span class="user"><a
                                        href="http://demo.createdbycocoon.com/moodle/edumy/1/user/view.php?id=5&amp;course=8">Krisztina
                                        Szer</a></span> - <span class="time">Fri, 3 Jan 2020, 12:55 AM</span></div>
                                  <div class="text">
                                    <div class="no-overflow">
                                      <div class="text_to_html">This is the second Photoshop course I have completed
                                        with Cristian. Worth every penny and recommend it highly. To get the most out of
                                        this course, its best to to take the</div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                            <div id="comment-pagination-60147250f1079" class="comment-pagination"></div>
                          </div>
                        </div>


                      </div>

                      <span id="sb-9"></span>

                    </div>
                    <div id="inst147" class=" block_cocoon_more_courses block " role="complementary"
                      data-block="cocoon_more_courses">

                      <a href="#sb-10" class="sr-only sr-only-focusable">Skip [Cocoon] Related courses</a>





                      <div class="">




                        <div class="row">
                          <div class="col-lg-12">
                            <h3 class="r_course_title">Related Courses</h3>
                          </div>



                          <div class="col-lg-6 col-xl-4">
                            <div class="top_courses">
                              <a href="http://demo.createdbycocoon.com/moodle/edumy/1/course/view.php?id=11">
                                <div class="thumb">

                                  <img class="img-whp"
                                    src="http://demo.createdbycocoon.com/moodle/edumy/1/pluginfile.php/156/course/overviewfiles/t8.jpg"
                                    alt="Fashion Photography From Professional">
                                  <div class="overlay">
                                    <div class="tag">Top Seller</div>
                                    <span class="tc_preview_course">Preview Course</span>
                                  </div>
                                </div>
                                <div class="details">
                                  <div class="tc_content">
                                    <p>Updated 21/12/19</p>
                                    <h5>Fashion Photography From Professional</h5>
                                    <ul class="tc_review">
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    </ul>
                                  </div>
                                  <div class="tc_footer">
                                    <ul class="tc_meta float-left">
                                      <li class="list-inline-item"><i class="flaticon-profile"></i></li>
                                      <li class="list-inline-item">2</li>
                                      <li class="list-inline-item"><i class="flaticon-comment"></i></li>
                                      <li class="list-inline-item">5</li>
                                    </ul>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>




                          <div class="col-lg-6 col-xl-4">
                            <div class="top_courses">
                              <a href="http://demo.createdbycocoon.com/moodle/edumy/1/course/view.php?id=10">
                                <div class="thumb">

                                  <img class="img-whp"
                                    src="http://demo.createdbycocoon.com/moodle/edumy/1/pluginfile.php/155/course/overviewfiles/t7.jpg"
                                    alt="How to Make Beautiful Landscape Photos?">
                                  <div class="overlay">
                                    <div class="tag">Top Seller</div>
                                    <span class="tc_preview_course">Preview Course</span>
                                  </div>
                                </div>
                                <div class="details">
                                  <div class="tc_content">
                                    <p>Updated 28/12/19</p>
                                    <h5>How to Make Beautiful Landscape Photos?</h5>
                                    <ul class="tc_review">
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    </ul>
                                  </div>
                                  <div class="tc_footer">
                                    <ul class="tc_meta float-left">
                                      <li class="list-inline-item"><i class="flaticon-profile"></i></li>
                                      <li class="list-inline-item">0</li>
                                      <li class="list-inline-item"><i class="flaticon-comment"></i></li>
                                      <li class="list-inline-item">0</li>
                                    </ul>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>




                          <div class="col-lg-6 col-xl-4">
                            <div class="top_courses">
                              <a href="http://demo.createdbycocoon.com/moodle/edumy/1/course/view.php?id=9">
                                <div class="thumb">

                                  <img class="img-whp"
                                    src="http://demo.createdbycocoon.com/moodle/edumy/1/pluginfile.php/154/course/overviewfiles/t6.jpg"
                                    alt="How to be a DJ? Make Electronic Music">
                                  <div class="overlay">
                                    <div class="tag">Top Seller</div>
                                    <span class="tc_preview_course">Preview Course</span>
                                  </div>
                                </div>
                                <div class="details">
                                  <div class="tc_content">
                                    <p>Updated 28/12/19</p>
                                    <h5>How to be a DJ? Make Electronic Music</h5>
                                    <ul class="tc_review">
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    </ul>
                                  </div>
                                  <div class="tc_footer">
                                    <ul class="tc_meta float-left">
                                      <li class="list-inline-item"><i class="flaticon-profile"></i></li>
                                      <li class="list-inline-item">0</li>
                                      <li class="list-inline-item"><i class="flaticon-comment"></i></li>
                                      <li class="list-inline-item">0</li>
                                    </ul>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>



                        </div>




                      </div>

                      <span id="sb-10"></span>

                    </div>
                  </aside>
                </div>
              </div>
              <div class="col-lg-4 col-xl-3">
                <div class="d-print-none" aria-label="Blocks">
                  <aside id="block-region-side-pre" class="block-region" data-blockregion="side-pre"
                    data-droptarget="1">
                    <div id="inst111" class=" block_cocoon_course_details block " role="complementary"
                      data-block="cocoon_course_details" aria-label="[Cocoon] Course Enrolment">





                      <div class="">
                        <div class="instructor_pricing_widget">
                          <div class="price">
                            <span>Price</span> $49.99 <small>USD</small>
                          </div>
                          <a href="http://demo.createdbycocoon.com/moodle/edumy/1/enrol/index.php?id=8"
                            class="cart_btnss">Buy & Enrol Now</a>
                          <div class="ccn-buy-access">Paid course entry</div>
                          <ul class="price_quere_list text-left">
                            <li>
                              <div class="ccn-course-details-item"><span class="flaticon-play-button-1"></span> 11 hours
                                on-demand video</div>
                            </li>
                            <li>
                              <div class="ccn-course-details-item"><span class="flaticon-download"></span> 69
                                downloadable resources</div>
                            </li>
                            <li>
                              <div class="ccn-course-details-item"><span class="flaticon-key-1"></span> Full lifetime
                                access</div>
                            </li>
                            <li>
                              <div class="ccn-course-details-item"><span class="flaticon-responsive"></span> Access on
                                mobile and TV</div>
                            </li>
                            <li>
                              <div class="ccn-course-details-item"><span class="flaticon-flash"></span> Assignments
                              </div>
                            </li>
                            <li>
                              <div class="ccn-course-details-item"><span class="flaticon-award"></span> Certificate of
                                Completion</div>
                            </li>
                          </ul>
                        </div>


                      </div>


                    </div>
                    <div id="inst112" class=" block_cocoon_course_features block " role="complementary"
                      data-block="cocoon_course_features">

                      <a href="#sb-2" class="sr-only sr-only-focusable">Skip Course Features</a>





                      <div class="">

                        <div class="feature_course_widget">
                          <ul class="list-group">
                            <h4 class="title">Course Features</h4>
                            <li class="d-flex justify-content-between align-items-center">
                              Lectures <span class="float-right">6</span>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                              Quizzes <span class="float-right">1</span>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                              Duration <span class="float-right">3 hours</span>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                              Skill level <span class="float-right">All level</span>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                              Language <span class="float-right">English</span>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                              Assessments <span class="float-right">Yes</span>
                            </li>
                          </ul>
                        </div>


                      </div>

                      <span id="sb-2"></span>

                    </div>
                    <div id="inst113" class=" block_tags block " role="complementary" data-block="tags">

                      <a href="#sb-3" class="sr-only sr-only-focusable">Skip Tags</a>





                      <div class="">
                        <div class="blog_tag_widget">
                          <h4 class="title">Tags</h4>
                          <ul class="tag_list">
                            <li class="list-inline-item">
                              <a href="http://demo.createdbycocoon.com/moodle/edumy/1/tag/index.php?tc=1&amp;tag=Beginner&amp;from=153"
                                class=" s20" title="Entries: 3">
                                Beginner</a>
                            </li>
                            <li class="list-inline-item">
                              <a href="http://demo.createdbycocoon.com/moodle/edumy/1/tag/index.php?tc=1&amp;tag=Marketing&amp;from=153"
                                class=" s13" title="Entries: 2">
                                Marketing</a>
                            </li>
                            <li class="list-inline-item">
                              <a href="http://demo.createdbycocoon.com/moodle/edumy/1/tag/index.php?tc=1&amp;tag=Photoshop&amp;from=153"
                                class=" s13" title="Entries: 2">
                                Photoshop</a>
                            </li>
                            <li class="list-inline-item">
                              <a href="http://demo.createdbycocoon.com/moodle/edumy/1/tag/index.php?tc=1&amp;tag=Sketch&amp;from=153"
                                class=" s13" title="Entries: 2">
                                Sketch</a>
                            </li>
                          </ul>
                        </div>


                      </div>

                      <span id="sb-3"></span>

                    </div>
                    <div id="inst114" class=" block_cocoon_course_info block " role="complementary"
                      data-block="cocoon_course_info">

                      <a href="#sb-4" class="sr-only sr-only-focusable">Skip Not sure?</a>





                      <div class="">

                        <div class="selected_filter_widget style2">
                          <span class="float-left"><img class="mr20"
                              src="http://demo.createdbycocoon.com/moodle/edumy/1/pluginfile.php/169/block_cocoon_course_info/content/2.png"
                              alt="2.png" /></span>
                          <h4 class="mt15 fz20 fw500">Not sure?</h4>
                          <br>
                          <p>Every course comes with a 30-day money-back guarantee</p>
                        </div>


                      </div>

                      <span id="sb-4"></span>

                    </div>
                  </aside>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
    