<div class="preloader"></div>

<div class="wrapper">
  <app-nav></app-nav>
</div>

<div>

  <router-outlet></router-outlet>
  
  <div id="ccn-main-region">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
          <div aria-label="Content">
            <aside id="block-region-above-content" class="block-region" data-blockregion="above-content"
              data-droptarget="1"></aside>
            <div id="ccn-main">
              <span class="notifications" id="user-notifications"></span>
              <span id="maincontent"></span><br />


            </div>
            <aside id="block-region-below-content" class="block-region" data-blockregion="below-content"
              data-droptarget="1"></aside>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>

