  
  <div class="wrapper">
    
    <section class="inner_page_breadcrumb">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 text-center">
            <div class="breadcrumb_content">
              <h4 class="breadcrumb_title">Edumy</h4>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="http://demo.createdbycocoon.com/moodle/edumy/1">Home</a>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="ccn-page-wrapper">
      <div>
        <a class="sr-only sr-only-focusable" href="#maincontent">Skip to main content</a>
      </div>
      <script type="text/javascript"
        src="http://demo.createdbycocoon.com/moodle/edumy/1/theme/yui_combo.php?rollup/3.17.2/yui-moodlesimple.js"></script>
      <script type="text/javascript"
        src="http://demo.createdbycocoon.com/moodle/edumy/1/lib/javascript.php/1583195737/lib/javascript-static.js"></script>
      <script type="text/javascript">
        //<![CDATA[
        document.body.className += ' jsenabled';
//]]>
      </script>


      <div>
        <div class="container ccn_breadcrumb_widgets clearfix">
        </div>
        <aside id="block-region-fullwidth-top" class="block-region" data-blockregion="fullwidth-top"
          data-droptarget="1">
          <div id="inst59" class=" block_cocoon_users_slider block " role="complementary"
            data-block="cocoon_users_slider">

            <a href="#sb-4" class="sr-only sr-only-focusable">Skip Popular Instructors</a>





            <div class="">

              



            </div>

            <span id="sb-4"></span>

          </div>
        </aside>
        <div id="ccn-main-region">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-lg-8 col-xl-9">
                <div class="has-blocks" aria-label="Content">
                  <aside id="block-region-above-content" class="block-region" data-blockregion="above-content"
                    data-droptarget="1">
                    <div id="inst58" class=" block_cocoon_users block " role="complementary" data-block="cocoon_users">

                      <a href="#sb-5" class="sr-only sr-only-focusable">Skip [Cocoon] Users</a>





                      <div class="">

                        <div class="row">
                          <div class="col-sm-5 col-lg-5 col-xl-6">
                            <div class="instructor_search_result">
                              <p class="mt10 fz15"><span class="color-dark">5</span> Instructors</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6 col-lg-6 col-xl-4">
                            <a href="http://demo.createdbycocoon.com/moodle/edumy/1/user/profile.php?id=3">
                              <div class="team_member style3 text-center mb30">
                                <div class="instructor_col">
                                  <div class="thumb">
                                    <img class="img-fluid img-rounded-circle"
                                      src="http://demo.createdbycocoon.com/moodle/edumy/1/pluginfile.php/220/user/icon/edumy/f3?rev=3588"
                                      alt="7.png">
                                  </div>
                                  <div class="details">
                                    <h4>Andrew Williams</h4>
                                    <p>Web Design, Photoshop</p>
                                    <ul>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="tm_footer">
                                  <ul>
                                    <li class="list-inline-item">Last online 1 January</li>
                                  </ul>
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-lg-6 col-xl-4">
                            <a href="http://demo.createdbycocoon.com/moodle/edumy/1/user/profile.php?id=4">
                              <div class="team_member style3 text-center mb30">
                                <div class="instructor_col">
                                  <div class="thumb">
                                    <img class="img-fluid img-rounded-circle"
                                      src="http://demo.createdbycocoon.com/moodle/edumy/1/pluginfile.php/221/user/icon/edumy/f3?rev=3599"
                                      alt="7.png">
                                  </div>
                                  <div class="details">
                                    <h4>Anna Richard</h4>
                                    <p>CSS, HTML</p>
                                    <ul>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="tm_footer">
                                  <ul>
                                    <li class="list-inline-item">Last online 1 January</li>
                                  </ul>
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-lg-6 col-xl-4">
                            <a href="http://demo.createdbycocoon.com/moodle/edumy/1/user/profile.php?id=5">
                              <div class="team_member style3 text-center mb30">
                                <div class="instructor_col">
                                  <div class="thumb">
                                    <img class="img-fluid img-rounded-circle"
                                      src="http://demo.createdbycocoon.com/moodle/edumy/1/pluginfile.php/222/user/icon/edumy/f3?rev=3672"
                                      alt="7.png">
                                  </div>
                                  <div class="details">
                                    <h4>Krisztina Szer</h4>
                                    <p>Watercolor Painting</p>
                                    <ul>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="tm_footer">
                                  <ul>
                                    <li class="list-inline-item">Last online 3 January</li>
                                  </ul>
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-lg-6 col-xl-4">
                            <a href="http://demo.createdbycocoon.com/moodle/edumy/1/user/profile.php?id=6">
                              <div class="team_member style3 text-center mb30">
                                <div class="instructor_col">
                                  <div class="thumb">
                                    <img class="img-fluid img-rounded-circle"
                                      src="http://demo.createdbycocoon.com/moodle/edumy/1/pluginfile.php/223/user/icon/edumy/f3?rev=3657"
                                      alt="7.png">
                                  </div>
                                  <div class="details">
                                    <h4>Kristen Pala</h4>
                                    <p>Web Design, PSD to HTML</p>
                                    <ul>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="tm_footer">
                                  <ul>
                                    <li class="list-inline-item">Last online 1 January</li>
                                  </ul>
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-lg-6 col-xl-4">
                            <a href="http://demo.createdbycocoon.com/moodle/edumy/1/user/profile.php?id=7">
                              <div class="team_member style3 text-center mb30">
                                <div class="instructor_col">
                                  <div class="thumb">
                                    <img class="img-fluid img-rounded-circle"
                                      src="http://demo.createdbycocoon.com/moodle/edumy/1/pluginfile.php/224/user/icon/edumy/f3?rev=3646"
                                      alt="7.png">
                                  </div>
                                  <div class="details">
                                    <h4>Jill Poye</h4>
                                    <p>User Experience Design</p>
                                    <ul>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="tm_footer">
                                  <ul>
                                    <li class="list-inline-item">Last online 1 January</li>
                                  </ul>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>


                      </div>

                      <span id="sb-5"></span>

                    </div>
                  </aside>
                  <div id="ccn-main">
                    <span class="notifications" id="user-notifications"></span>
                    <span id="maincontent"></span>
                    <div class="box py-3 generalbox center clearfix">
                      <div class="no-overflow">
                        <p><br></p>
                        <p><br></p>
                      </div>
                    </div>


                  </div>
                  <aside id="block-region-below-content" class="block-region" data-blockregion="below-content"
                    data-droptarget="1"></aside>
                </div>
              </div>
              <div class="col-lg-4 col-xl-3">
                <div class="d-print-none" aria-label="Blocks">
                  <aside id="block-region-side-pre" class="block-region" data-blockregion="side-pre"
                    data-droptarget="1">
                    <div id="inst181" class=" block_cocoon_globalsearch_sb block " role="complementary"
                      data-block="cocoon_globalsearch_sb">

                      <a href="#sb-1" class="sr-only sr-only-focusable">Skip [Cocoon] Global search (sidebar)</a>





                      <div class="">
                        <form action="http://demo.createdbycocoon.com/moodle/edumy/1/search/index.php">
                          <fieldset>
                            <div class="blog_search_widget">
                              <div class="input-group mb-3"><input id="searchform_search" name="q" class="form-control"
                                  placeholder="Search" type="text" size="15" /><input type="hidden" name="context"
                                  value="80" />
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary" type="submit" id="searchform_button"><span
                                      class="flaticon-magnifying-glass"></span></button>
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </form>


                      </div>

                      <span id="sb-1"></span>

                    </div>
                    <div id="inst182" class=" block_tags block " role="complementary" data-block="tags">

                      <a href="#sb-2" class="sr-only sr-only-focusable">Skip Tags</a>





                      <div class="">
                        <div class="blog_tag_widget">
                          <h4 class="title">Tags</h4>
                          <ul class="tag_list">
                            <li class="list-inline-item">
                              <a href="http://demo.createdbycocoon.com/moodle/edumy/1/tag/index.php?tc=1&amp;tag=Beginner&amp;from=80"
                                class=" s20" title="Entries: 3">
                                Beginner</a>
                            </li>
                            <li class="list-inline-item">
                              <a href="http://demo.createdbycocoon.com/moodle/edumy/1/tag/index.php?tc=1&amp;tag=Marketing&amp;from=80"
                                class=" s13" title="Entries: 2">
                                Marketing</a>
                            </li>
                            <li class="list-inline-item">
                              <a href="http://demo.createdbycocoon.com/moodle/edumy/1/tag/index.php?tc=1&amp;tag=Photoshop&amp;from=80"
                                class=" s13" title="Entries: 2">
                                Photoshop</a>
                            </li>
                            <li class="list-inline-item">
                              <a href="http://demo.createdbycocoon.com/moodle/edumy/1/tag/index.php?tc=1&amp;tag=Sketch&amp;from=80"
                                class=" s13" title="Entries: 2">
                                Sketch</a>
                            </li>
                          </ul>
                        </div>


                      </div>

                      <span id="sb-2"></span>

                    </div>
                  </aside>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>
